<div class="container"></div>
<div class="row">
    <div class="col s5">
        <div class="card">
            <div class="card-content">
                <form #empleadoForm="ngForm">
                    <!-- <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="EmpleadosService.empleadoSeleccionado"> -->
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" name="nombre" #nombre="ngModel"
                                [(ngModel)]="EmpleadosService.empleadoSeleccionado.nombre"
                                placeholder="Introduce tu nombre" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" name="cargo" #cargo="ngModel"
                                [(ngModel)]="EmpleadosService.empleadoSeleccionado.cargo"
                                placeholder="Introduce tu cargo">
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" name="departamento" #departamento="ngModel"
                                [(ngModel)]="EmpleadosService.empleadoSeleccionado.departamento"
                                placeholder="Introduce tu departamento">
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" name="salario" #salario="ngModel"
                                [(ngModel)]="EmpleadosService.empleadoSeleccionado.salario"
                                placeholder="Introduce tu salario">
                        </div>

                        <div class="cardaction">
                            <div class="input-field col s12">
                                <button class="btn rigth" (click)="resetForm(empleadoForm)">
                                    RESET
                                </button>
                                <button class="btn rigth" (click)="addEmpleado(empleadoForm)">
                                    ENVIAR
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col s7">
        <table>
            <thead>
                <th>NOMBRE:</th>
                <th>CARGO:</th>
                <th>DEPARTAMENTO:</th>
                <th>SALARIO:</th>
                <th>ACCIONES:</th>
            </thead>
            <tbody>
                <tr *ngFor="let empleado of EmpleadosService.empleados">
                    <td>{{ empleado.nombre }}</td>
                    <td>{{ empleado.cargo }}</td>
                    <td>{{ empleado.departamento }}</td>
                    <td>{{ empleado.salario }}</td>
                    <a style="margin:10px" (click)="editarEmpleado(empleado)">
                        <i class="material-icons">delete</i>
                    </a>
                    <a (click)="editarEmpleado(empleado)">
                        <i class="material-icons">edit</i>
                    </a>
                </tr>
            </tbody>
        </table>
    </div>
</div>
