<div class="container top-space" style="background: whitesmoke; padding: 5px">
  <h3>Elemento hijo</h3>
  <p>
    Todo lo que está contenido dentro de este div está declarado en el html correspondiente al elemento hijo.component.html. El siguiente elemento está pasado desde el padre, gracias a la declaración Input de la clase hijo.component.ts y la asignación
    desde el padre.component.html como atributo en el tag del componente. El elemento comunicado es: <b> {{datoRecibido}} </b>
  </p>
</div>