<h2>Ejercicio5</h2>
<app-ejer5></app-ejer5>
<hr>
<h2>Ejercicio6</h2>
<app-ejer6></app-ejer6>
<hr>
<h2>Ejercicio7</h2>
<app-ejer7></app-ejer7>
<hr>
<h2>Ejercicio8</h2>
<app-ejer8></app-ejer8>
<hr>
<h2>Ejercicio9</h2>
<app-ejer9></app-ejer9>
<hr>
<h2>Ejercicio10</h2>
<app-ejer10></app-ejer10>
<hr>
<h2>Ejercicio611</h2>
<app-ejer11></app-ejer11>
<hr>
<h2>Ejercicio12</h2>
<app-ejer12></app-ejer12>
<hr>
<h2>Ejercicio13</h2>
<app-ejer13></app-ejer13>
<hr>
<h2>Ejercicio14</h2>
<app-ejer14></app-ejer14>
<hr>
<h2>Ejercicio15</h2>
<app-ejer15></app-ejer15>
<hr>
<h2>Ejercicio17</h2>
<app-ejer17></app-ejer17>
<hr>
<h2>Ejercicio18</h2>
<app-ejer18-padre></app-ejer18-padre>
<hr>
<h2>Ejercicio19</h2>
<app-ejer19padre></app-ejer19padre>
<hr>
<h2>Ejercicio19</h2>
<app-externo></app-externo>
<hr>
<router-outlet />
