<div>
  Padre
  <div>
    <form action="">
      <input
        *ngIf="numerosPadre.length === 0"
        [(ngModel)]="cadNumero"
        name="name"
        style="width: 30px"
        #numeroPadre
        type="text"
      />
      <button (click)="mandarDato()">Enviar</button>
    </form>
  </div>
  <ul>
    <li *ngFor="let item of numerosPadre">
      {{ item }}
    </li>
  </ul>
</div>
<div>
  <app-hijo 
  [numRecibido]="numMandado"
  (mandarPadre)="recibiendoDato($event)"></app-hijo>
</div>
